{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="row">
            <template v-if="step === 1">
                <div class="col-12">
                    <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <h1 class="h3 mb-3 font-weight-normal">Por favor, ¡logueate!</h1>
                        <div class="form-group">
                            <label for="inputUsername" class="sr-only">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-group">                    
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">                    
                            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <a href="#" @click="step = 2">¿Aún no tienes cuenta? ¡Regístrate AQUÍ!</a>
                </div>
            </template>
            <template v-if="step === 2">
                {% include 'security/register.html.twig' %}
            </template>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var Login = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: {
                step: 1,
            }
        })
    </script>
{% endblock %}