<div class="col-12">
    <a href="#" @click="step = 1">¿Ya tienes cuenta? Inicia sesión</a>
    <form method="post" action="/register">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Regístrate para disfrutar de las ventajas</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="email" class="form-control" required>
        </div>
        <div class="form-group">                    
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="">Apellidos</label>
            <input type="text" name="surname" class="form-control" required>
        </div>
        <div class="form-group">                    
            <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
        </div>
    </form>
</div>