{% extends "base.html.twig" %}
{% block title %}Usuario registrado{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 my-3">
                <h3>¡Genial, te has registrado correctamente!</h3>
                <h4>El siguiente paso es loguearte en la aplicación<h4>
            </div>
            <div class="col-12 my-3">
                <a href="/login"> ¡Haz clic aquí!</a>
            </div>
        </div>
    </div>
{% endblock %}


