<div class="col-12 my-3">
    <a href="#" @click="removeSelection()">Volver atrás</a>
</div>
<div class="col-12 my-3">
    <div class="alert alert-info">
        <h4>Rellene el formulario para completar su reserva</h4>
        <h5><i class="fas fa-dot-circle"></i> Desde el {{from_date|date("d/m/Y")}} hasta el {{to_date|date("d/m/Y")}} ({{num_days}} Día/s)</h5>
        <h5><i class="fas fa-dot-circle"></i> {{num_persons}} Personas</h5>
        <h5><i class="fas fa-dot-circle"></i> Tipo de habitación: ${room_name}</h5>
    </div>
</div>
<div class="col-12 my-3">
    <div class="alert alert-primary"> 
        <form method="post" action="/booking">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="from_date" value="{{from_date|date("Y-m-d")}}">
            <input type="hidden" name="to_date" value="{{to_date|date("Y-m-d")}}">
            <input type="hidden" name="num_persons" value="{{num_persons}}">
            <input type="hidden" name="room_type_id" :value="room_type_id">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="name" class="form-control" required value="{{app.user.name|default('')}}">
            </div>
            <div class="form-group">
                <label for="">Apellidos</label>
                <input type="text" name="surname" class="form-control" required value="{{app.user.surname|default('')}}">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" name="email" class="form-control" required value="{{app.user.email|default('')}}">
            </div>
            <div class="form-group">
                <label for="">Teléfono</label>
                <input type="text" name="phone" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Tarjeta de Crédito</label>
                <input type="text" name="credict_card_number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">¿Alguna cosa más?</label>
                <textarea name="extra_notes" class="form-control"></textarea>
            </div>
            <h4>Precio Total: ${total_price}</h4>
            <input class="btn btn-primary" type="submit" value="Completar Reserva">
        </form>
    </div>
</div>