{% extends "base.html.twig" %}
{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 my-3">
                <h1>Admin Dashboard</h1>
            </div>
            <div class="col-12">
                <transition name="fade" mode="out-in">
                    <div class="row" v-if="step == 'index'" key="step1">
                        <div class="col-12 col-md-6 my-3">
                            <button class="btn btn-info btn-block py-4 px-4" @click="step = 'bookings'">
                                <div><i class="fa fa-address-book fa-4x" aria-hidden="true"></i></div>
                                <h3>Gestionar reservas</h3>
                            </button>
                        </div>
                        <div class="col-12 col-md-6 my-3">
                            <button class="btn btn-info btn-block py-4 px-4" @click="step = 'rooms'">
                                <div><i class="fas fa-hotel fa-4x"></i></div>
                                <h3>Gestionar habitaciones</h3>
                            </button>
                        </div>
                    </div>
                    <div class="row" v-if="step == 'bookings'" key="step2">
                            <div class="col-12 my-3">
                                <h3>Gestionar reservas</h3>
                            </div>
                            <div class="col-12 my-3">
                                <button class="btn btn-info" @click="step = 'index'">Volver atrás</button>                    
                            </div>
                            {% include "dashboards/partials/bookings_table.html.twig" %}
                    </div>
                    <div class="row" v-if="step == 'rooms'" key="step3">
                        <div class="col-12 my-3">
                            <h3>Gestionar habitaciones</h3>
                        </div>
                        <div class="col-12 my-3">
                            <button class="btn btn-info" @click="step = 'index'">Volver atrás</button>                    
                        </div>
                        {% include "dashboards/partials/room_types.html.twig" %}
                    </div>
                </transition>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var AdminDashboard = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: {
                step: 'index',
                selectedRoom: null,
                selectedBooking: null,
                new_room: false,
            },
            mounted(){
                this.step = urlParam('view') ? urlParam('view') : 'index';
            }
        })
        function urlParam (name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null) {
               return null;
            }
            return decodeURI(results[1]) || 0;
        }
    </script>
{% endblock %}


