{% extends "base.html.twig" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 my-3">
                <h1>Dashboard</h1>
            </div>
            <div class="col-12 my-3">
                <a href="/" class="btn btn-info">Nueva reserva</a>
            </div>
            {% include "dashboards/partials/bookings_table.html.twig" with {'bookings': app.user.getBookings} %}            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var dashboard = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: {
                selectedBooking: null,
            },
        })
    </script>
{% endblock %}