<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - Symfotel</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Symfotel</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a href="/dashboard">Dashboard</a>
            </nav>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <b>{{ app.user.name }}</b> <a href="/logout">(Logout)</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </div>
        {% include "errors.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% endblock %}
    </body>
</html>
