{% extends "base.html.twig" %}
{% block title %}Reserva confirmada{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 my-3">
                <div class="alert alert-success">
                    <h3>¡Reserva confirmada!</h3>
                    <h4>Aquí tienes los datos de tu reserva:</h4>
                </div>
            </div>
            <div class="col-12 my-3">
                <div class="alert alert-info">
                    <h5><i class="fas fa-dot-circle"></i> Desde el {{booking.getFromDate|date("d/m/Y")}} hasta el {{booking.getToDate|date("d/m/Y")}} ({{booking.getNumDays}} Día/s)</h5>
                    <h5><i class="fas fa-dot-circle"></i> {{booking.getNumPeople}} Personas</h5>
                    <h5><i class="fas fa-dot-circle"></i> Tipo de habitación: {{booking.getRoomType.getName}}</h5>
                    <h5><i class="fas fa-dot-circle"></i> Localizador: {{booking.getLocator}}</h5>
                    <h5><i class="fas fa-dot-circle"></i> Nº Tarjeta de crédito: {{booking.getCredictCardNumber}}</h5>
                    {% if booking.extraNotes %}
                    <h5><i class="fas fa-dot-circle"></i> Notas adicionales: {{booking.extraNotes}}</h5>
                    {% endif %}
                    <h5><i class="fas fa-dot-circle"></i> Importe total: {{booking.totalCost|number_format(2,',','.')}}€</h5>
                </div>
            </div>
            <div class="col-12 my-3">
                <a href="/login">Logueate para gestionar tus reservas</a>
            </div>
        </div>
    </div>
{% endblock %}


