<div class="container">
    <div class="row">
        <div class="col-12">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if label == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-success">
                {% endif %}
                        {{ message }}
                    </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>