{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>¡Tus habitaciones al mejor precio!</h1>
            </div>
            <div class="col-12">
                <div class="alert alert-warning">
                    <form action="{{ url("search") }}" method="GET">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="">Desde</label>
                                    <input type="date" name="from_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="">Hasta</label>
                                    <input type="date" name="to_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="">Nº de huéspedes</label>
                                    <input name="num_persons" class="form-control" type="number" min="1" value="2">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 offset-md-3">
                                <input class="btn btn-primary btn-block" type="submit" value="¡Buscar!">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}
