{% extends "base.html.twig" %}
{% block title %}Serach results{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="row">
                {% if rooms.count > 0 %}
                    <template v-if="step === 1">
                        <div class="col-12 my-3">
                            <div class="alert alert-info">
                                <h4>A continuación se le muestran las habitaciones disponibles para su búsqueda</h4>
                                <h5><i class="fas fa-dot-circle"></i> Desde el {{from_date|date("d/m/Y")}} hasta el {{to_date|date("d/m/Y")}} ({{num_days}} Día/s)</h5>
                                <h5><i class="fas fa-dot-circle"></i> {{num_persons}} Personas</h5>
                            </div>
                        </div>
                        <div class="col-12 my-3">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Tipo de habitación</th>
                                        <th class="text-right">Habitaciones disponibles</th>
                                        <th class="text-right">Precio/día</th>
                                        <th class="text-right">Precio total de la estancia (incl. imp.)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for room in rooms %}
                                        <tr>
                                            <td>{{ room.name}}</td>
                                            <td class="text-right">{{ room.getAvailabilityBetweenDates(from_date, to_date) }}</td>
                                            <td class="text-right">{{ room.getPricePerNight | number_format(2, ',', '.')}}€</td>
                                            <td class="text-right">{{ room.getPriceForTotalNights(num_days) | number_format(2, ',', '.')}}€</td>
                                            <td class="text-right">
                                                <button class="btn btn-primary" type="button" @click="selectRoomType({{room.id}},'{{ room.getPriceForTotalNights(num_days) | number_format(2, ',', '.')}}€','{{room.name}}')">
                                                    ¡Reservar YA!
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </template>
                    <template v-if="step === 2">
                        {% include "search_partials/booking_form.html.twig" %}
                    </template>                    
                {% else %}
                    <div class="col-12">
                        <div class="alert alert-warning" role="alert">
                            <strong>No hay disponibilidad para las fechas seleccionadas</strong>
                            <a href="/"><h3>Volver a buscar</h3></a>
                        </div>
                    </div>                        
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var SearchResults = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: {
                step: 1,
                room_type_id: null,
                total_price: "",
                room_name: "",
            },
            methods:{
                selectRoomType: function(room_id, total_price, room_name){
                    this.room_type_id = room_id;
                    this.total_price = total_price;
                    this.room_name = room_name;
                    this.step = 2;
                },
                removeSelection: function(){
                    this.room_type_id = null;
                    this.total_price = "";
                    this.room_name = "";
                    this.step = 1;
                }
            }
        })
    </script>
{% endblock %}