<div class="col-12 my-3 table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Localizador</th>
                <th>Habitación</th>
                <th>Nº Huéspedes</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{booking.getFromDate|date('d/m/Y')}}</td>
                    <td>{{booking.getToDate|date('d/m/Y')}}</td>
                    <td>{{booking.getLocator}}</td>
                    <td>{{booking.getRoomType.name}}</td>
                    <td>{{booking.getNumPeople}}</td>
                    <td>{{booking.getTotalCost|number_format(2,',','.')}}€</td>
                    <td>
                        <button class="btn btn-sm btn-info" @click="selectedBooking = {{booking.toArray()|json_encode}}">
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<template v-if="selectedBooking">
    <div class="col-12 my-3">
        <div class="alert alert-info">
            <h4>Ver reserva ${selectedBooking.locator}</h4>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" :value="selectedBooking.name" disabled>
            </div>
            <div class="form-group">
                <label for="name">Apellidos</label>
                <input type="text" class="form-control" :value="selectedBooking.surname" disabled>
            </div>
            <div class="form-group">
                <label for="availability_from">Disponibilidad desde</label>
                <input type="date" class="form-control" :value="selectedBooking.from_date" disabled>
            </div>
            <div class="form-group">                    
                <label for="availability_to">Disponibilidad hasta</label>
                <input type="date" class="form-control" :value="selectedBooking.to_date" disabled>
            </div>
            <div class="form-group">
                <label for="name">Huéspedes</label>
                <input type="text" class="form-control" :value="selectedBooking.num_people" disabled>
            </div>
            <div class="form-group">
                <label for="name">Tipo de habitación</label>
                <input type="text" class="form-control" :value="selectedBooking.room_type.name" disabled>
            </div>
            <div class="form-group">
                <label for="name">Notas adicionales</label>
                <textarea class="form-control" disabled>${selectedBooking.extra_notes}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Total Reserva (€)</label>
                <input type="text" class="form-control" :value="selectedBooking.total_cost_formated" disabled>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @click="selectedBooking = null">Cerrar</button>
            </div>
        </div>
    </div>
</template>