<div class="col-12 my-3">
    <div class="alert alert-info">
        <h4>Editar habitación: ${selectedRoom.name}</h4>
        <form action="/room/edit" method="POST">
            <input type="hidden" name="room_id" :value="selectedRoom.id">
            <div class="form-group">
                <label for="name">Nombre del tipo de habitación</label>
                <input type="text" name="name" class="form-control" :value="selectedRoom.name" required>
            </div>
            <div class="form-group">
                <label for="availability_from">Disponibilidad desde</label>
                <input type="date" name="availability_from"class="form-control" :value="selectedRoom.availability_from" required>
            </div>
            <div class="form-group">                    
                <label for="availability_to">Disponibilidad hasta</label>
                <input type="date" name="availability_to"class="form-control" :value="selectedRoom.availability_to" required>
            </div>
            <div class="form-group">
                <label for="name">Precio/día (€)</label>
                <input type="text" name="price_per_night"class="form-control" :value="selectedRoom.price_per_night" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Actualizar">
                <button type="button" class="btn btn-danger" @click="selectedRoom = null">Cancelar</button>
            </div>
        </form>
    </div>
</div>