<div class="col-12 my-3">
    <div class="alert alert-primary">
        <h4>Nuevo tipo de habitación</h4>
        <form action="/room/create" method="POST">
            <div class="form-group">
                <label for="name">Nombre del tipo de habitación</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="availability_from">Disponibilidad desde</label>
                <input type="date" name="availability_from"class="form-control" required>
            </div>
            <div class="form-group">                    
                <label for="availability_to">Disponibilidad hasta</label>
                <input type="date" name="availability_to"class="form-control" required>
            </div>
            <div class="form-group">
                <label for="name">Precio/día (€)</label>
                <input type="number" step="any" name="price_per_night"class="form-control" required>
            </div>
            <div class="form-group">
                <label for="max_capacity">Número máximo de huéspedes</label>
                <input type="number" name="max_capacity"class="form-control" min="1" required>
            </div>
            <div class="form-group">
                <label for="rooms_quantity">Número de habitaciones disponibles</label>
                <input type="number" name="rooms_quantity"class="form-control" min="1" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Crear">
                <button type="button" class="btn btn-danger" @click="selectedRoom = null; new_room=false">Cancelar</button>
            </div>
        </form>
    </div>
</div>