<div class="col-12 my-3 table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th class="text-right">Máx. huéspedes</th>
                <th class="text-right">Cantidad</th>
                <th class="text-right">Disponibilidad desde</th>
                <th class="text-right">Disponibilidad hasta</th>
                <th class="text-right">Reservas</th>
                <th class="text-right">Precio/día</th>
                <th class="text-right">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for room_type in room_types %}
                <tr>
                    <td>{{room_type.getName}}</td>
                    <td class="text-right">{{room_type.getMaxCapacity}}</td>
                    <td class="text-right">{{room_type.getRoomsQuantity}}</td>
                    <td class="text-right">{{room_type.getAvailabilityFrom|date('d/m/Y')}}</td>
                    <td class="text-right">{{room_type.getAvailabilityTo|date('d/m/Y')}}</td>
                    <td class="text-right">{{room_type.getBookings.count}}</td>
                    <td class="text-right">{{room_type.getPricePerNight|number_format(2,',','.')}}€</td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-info" @click="new_room = false; selectedRoom = {{room_type.toArray|json_encode}}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 my-3">
        <button type="button" class="btn btn-primary" @click="new_room = true; selectedRoom = null">Añadir nueva habitación</button>
    </div>
</div>

<template v-if="new_room">
    {% include "dashboards/partials/new_room.html.twig" %}    
</template>

<template v-if="selectedRoom">
    {% include "dashboards/partials/edit_room.html.twig" %}    
</template>